@import url('https://fonts.googleapis.com/css2?family=Pirata+One&family=Roboto:wght@300&display=swap');
@import url('./reset.css');

:root {
  font-family: serif;
  --font-size--small: 0.8rem;
  --font-size--default: 1.2rem;
  --font-size--medium: 2.0rem;
  --font-size--large: 4rem;
}

h1 {
  font-family: 'Pirata One', cursive;
}

h1 {
  font-size: var(--font-size--large);
}

h2 {
  font-size: var(--font-size--medium);
}

body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  color: #262626;
  background: #f1eaea;
}
